<h1>[{{title}}]</h1>
<div>
  <!-- 1. 글쓰기 폼 -->
  <form name="boardForm" method="post" action="/write">
    <div>
      <!-- 제목 입력 칸 -->
      <label>제목</label>
      <input
        type="text"
        name="title"
        placeholder="제목을 넣어주세요"
        value=""
      />

    </div>
    <div>
      <!-- 이름 입력 칸 -->
      <label>이름</label>
      <input type="text" name="name" placeholder="이름을 넣어주세요" value="" />

    </div>
    <div>
      <!-- 비밀번호 입력 칸 -->
      <label>비밀번호호</label>
      <input
        type="password"
        name="password"
        placeholder="비밀번호를 넣어주세요"
        value=""
      />
    </div>
    <div>

      <!-- 본문 입력 -->
      <label>본문을 입력하세요</label>
      <br />
      <textarea
        name="content"
        placeholder="본문"
        cols="50"
        rows="10"
      ></textarea>
      <br />

      <!-- 버튼 영역 -->
      <div>
        <button type="submit">저장</button>
        <button type="button" onclick="localhost.href='/'">최소</button>
      </div>
    </div>
  </form>
</div>